/**
 * @author Ryan Balieiro
 * @description Light theme colors.
 */

@import "theme-variables-builder";

$primary: #266c93;
$secondary: darken(#798ca0, 10%);
$dark: #bfd2e0;
$danger: #932626;
$muted: #7c879d;

$base-bg: #91b7d7;
$base-bg-light: #a6c9e3;
$base-bg-dark: #7ea6cb;

$texts: #20242a;
$texts-inverted: #EEE;

$base-container-bg: #d9e7f5;
$base-container-bg-accent: #c2d8e9;
$base-popover-bg: #cad4e1;
$base-boards: #d2dfee;
$base-info-badges: #c3d5e3;
$empty: #e8f1f8;

$borders: #d9e0ef;
$borders-nav-mobile: rgba(white, 0.15);
$borders-nav-mobile-accent: rgba(white, 0.2);
$scrollbar-track: #dae4f5;
$scrollbar-thumb: #5591bd;

[data-theme="light"] {
    @include build-theme(
        // Theme Config...
        /** DARK MODE: **/                  false,

        // Base Colors...
        /** PRIMARY: **/                    $primary,
        /** SECONDARY: **/                  $secondary,
        /** DARK: **/                       $dark,
        /** DANGER: **/                     $danger,
        /** MUTED: **/                      $muted,

        // Main Layout Colors...
        /** BG: **/                         $base-bg,
        /** BG CONTRAST: **/                $base-bg-light,
        /** BG CONTRAST DARKEN:**/          $base-bg-dark,
        /** TEXTS: **/                      $texts,
        /** TEXTS (INVERTED): **/           $texts-inverted,

        // Nav
        /** NAV MOBILE BG: **/              $base-container-bg-accent,
        /** NAV MOBILE: **/                 $texts,
        /** NAV MOBILE BORDER: **/          $borders-nav-mobile-accent,

        /** NAV MOBILE HOVER BG: **/        $base-container-bg-accent,
        /** NAV MOBILE HOVER: **/           $primary,

        /** NAV MOBILE SELECTED BG: **/     $primary,
        /** NAV MOBILE SELECTED: **/        $texts-inverted,
        /** NAV MOBILE SELECTED BORDER: **/ $borders-nav-mobile,

        // Main Layout Elements...
        /** SECTION BG: **/                 $base-container-bg,
        /** CARD BG: **/                    $base-container-bg,
        /** POPUPS BG: **/                  $base-popover-bg,
        /** BOARDS: **/                     $base-boards,
        /** INFO BADGE BG: **/              $base-info-badges,
        /** INFO BADGE **/                  $texts,
        /** EMPTY **/                       $empty,

        // Other Colors...
        /** DEFAULT BORDERS: **/            $borders,
        /** SCROLLBAR TRACK: **/            $scrollbar-track,
        /** SCROLLBAR THUMB: **/            $scrollbar-thumb,
    );
}