/**
 * @author Ryan Balieiro
 * @description Midnight theme colors.
 */

@import "theme-variables-builder";

$primary: #8beff8;
$secondary: #7f8fa6;
$dark: #0a1120;
$danger: #f8c7c7;
$muted: #5c6b7a;

$base-bg: #070d19;
$base-bg-light: #0c1322;
$base-bg-dark: #050512;

$texts: #e0e8f0;
$texts-inverted: #0f1217;

$base-container-bg: lighten(#0a1120, 2%);
$base-container-bg-accent: lighten(#101a30, 2%);
$base-popover-bg: #050a12;
$base-boards: lighten($base-container-bg, 3%);
$base-info-badges: lighten($dark, 3%);
$empty: darken($base-container-bg, 5%);
$empty-accent: #0a1120;

$borders: lighten(#0a1120, 4%);
$scrollbar-track: #0a0f1a;
$scrollbar-thumb: #212e3b;

[data-theme="midnight"] {
    @include build-theme(
        // Theme Config...
        /** DARK MODE: **/                  true,

        // Base Colors...
        /** PRIMARY: **/                    $primary,
        /** SECONDARY: **/                  $secondary,
        /** DARK: **/                       $dark,
        /** DANGER: **/                     $danger,
        /** MUTED: **/                      $muted,

        // Main Layout Colors...
        /** BG: **/                         $base-bg,
        /** BG CONTRAST: **/                $base-bg-light,
        /** BG CONTRAST DARKEN:**/          $base-bg-dark,
        /** TEXTS: **/                      $texts,
        /** TEXTS (INVERTED): **/           $texts-inverted,

        // Nav
        /** NAV MOBILE BG: **/              $empty-accent,
        /** NAV MOBILE: **/                 $texts,
        /** NAV MOBILE BORDER: **/          $borders,

        /** NAV MOBILE HOVER BG: **/        $empty-accent,
        /** NAV MOBILE HOVER: **/           $primary,

        /** NAV MOBILE SELECTED BG: **/     $borders,
        /** NAV MOBILE SELECTED: **/        $primary,
        /** NAV MOBILE SELECTED BORDER: **/ $primary,

        // Main Layout Elements...
        /** SECTION BG: **/                 $base-container-bg,
        /** CARD BG: **/                    $base-container-bg,
        /** POPUPS BG: **/                  $base-popover-bg,
        /** BOARDS: **/                     $base-boards,
        /** INFO BADGE BG: **/              $base-info-badges,
        /** INFO BADGE **/                  $texts,
        /** EMPTY **/                       $empty,

        // Other Colors...
        /** DEFAULT BORDERS: **/            $borders,
        /** SCROLLBAR TRACK: **/            $scrollbar-track,
        /** SCROLLBAR THUMB: **/            $scrollbar-thumb,
    );
}